# WEB SCRAPPING ASSIGNMENT-4

1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A) Rank B) Name C) Artist D)
Upload date E) Views

In [6]:
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import pandas as pd

In [7]:
# Initialize WebDriver (make sure you have the Chrome WebDriver executable)
driver = webdriver.Chrome()

# Navigate to the Wikipedia page
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [8]:
# Create dictionaries to store data
Most_Viewed = {
    'Rank': [],
    'Name': [],
    'Artist': [],
    'Upload_date': [],
    'Views': []
}

# Wait for the table to load (adjust the time.sleep as needed)
time.sleep(5)

# Get the page source after waiting
page_source = driver.page_source

# Parse the page source with BeautifulSoup
soup = BeautifulSoup(page_source, 'html.parser')

# Find the table with the video details
table = soup.find('table', {'class': 'wikitable'})

# Loop through the rows of the table
for row in table.find_all('tr')[1:]:  # Skip the header row
    columns = row.find_all('td')
    if len(columns) >= 5:
        rank = columns[0].get_text(strip=True)
        name = columns[1].get_text(strip=True)
        artist = columns[2].get_text(strip=True)
        upload_date = columns[4].get_text(strip=True)
        views = columns[3].get_text(strip=True)

        Most_Viewed['Rank'].append(rank)
        Most_Viewed['Name'].append(name)
        Most_Viewed['Artist'].append(artist)
        Most_Viewed['Upload_date'].append(upload_date)
        Most_Viewed['Views'].append(views)

# Create a DataFrame from the dictionary
Most_Viewed_df = pd.DataFrame(Most_Viewed)

# Display the first 10 rows
print(Most_Viewed_df.head(10))

# Close the WebDriver
driver.quit()

  Rank                                             Name  \
0   1.                            "Baby Shark Dance"[6]
1   2.                                   "Despacito"[9]
2   3.                       "Johny Johny Yes Papa"[17]
3   4.                                  "Bath Song"[18]
4   5.                               "Shape of You"[19]
5   6.                              "See You Again"[22]
6   7.                          "Wheels on the Bus"[27]
7   8.                "Phonics Song with Two Words"[28]
8   9.                                "Uptown Funk"[29]
9  10.  "Learning Colors – Colorful Eggs on a Farm"[30]

                                              Artist        Upload_date  Views
0        Pinkfong Baby Shark - Kids' Songs & Stories      June 17, 2016  13.48
1                                         Luis Fonsi   January 12, 2017   8.28
2  LooLoo Kids - Nursery Rhymes and Children's Songs    October 8, 2016   6.82
3                         Cocomelon - Nursery Rhymes        May 2, 2018   6.45
4                                         Ed Sheeran   January 30, 2017   6.11
5                                        Wiz Khalifa      April 6, 2015   6.05
6                         Cocomelon - Nursery Rhymes       May 24, 2018   5.62
7              ChuChu TV Nursery Rhymes & Kids Songs      March 6, 2014   5.52
8                                        Mark Ronson  November 19, 2014   5.05
9                                        Miroshka TV  February 27, 2018   4.99

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [9]:
import requests
from bs4 import BeautifulSoup

url = "https://www.bcci.tv/"

try:
    # Send a GET request to the URL
    response = requests.get(url)
    
    # Check if the request was successful
    if response.status_code == 200:
        # Parse the HTML content using BeautifulSoup
        soup = BeautifulSoup(response.content, 'html.parser')
        
        # Find the link to the international fixtures page
        fixtures_link = soup.find('a', text='International Fixtures')['href']
        
        # Construct the full URL for the fixtures page
        fixtures_url = url + fixtures_link
        
        # Send another GET request to the fixtures page
        fixtures_response = requests.get(fixtures_url)
        
        if fixtures_response.status_code == 200:
            # Parse the HTML content of the fixtures page
            fixtures_soup = BeautifulSoup(fixtures_response.content, 'html.parser')
            
            # Find all fixture items on the page
            fixture_items = fixtures_soup.find_all('li', class_='fixture-list__item')
            
            for item in fixture_items:
                series = item.find('span', class_='u-unskewed-text').text.strip()
                place = item.find('p', class_='fixture__additional-info').text.strip()
                date_time = item.find('div', class_='fixture__datetime desktop-only').text.strip()
                
                print("Series:", series)
                print("Place:", place)
                print("Date and Time:", date_time)
                print("------------------------")
                
except Exception as e:
    print("An error occurred:", str(e))

An error occurred: 'NoneType' object is not subscriptable

In [10]:
import requests
from bs4 import BeautifulSoup

url = "https://www.bcci.tv/"

try:
    # Send a GET request to the URL
    response = requests.get(url)
    
    # Check if the request was successful
    response.raise_for_status()
    
    # Parse the HTML content using BeautifulSoup
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Find the link to the international fixtures page
    fixtures_link = soup.find('a', text='International Fixtures')
    
    if fixtures_link:
        fixtures_link = fixtures_link['href']
        
        # Construct the full URL for the fixtures page
        fixtures_url = url + fixtures_link
        
        # Send another GET request to the fixtures page
        fixtures_response = requests.get(fixtures_url)
        
        fixtures_response.raise_for_status()
        
        # Parse the HTML content of the fixtures page
        fixtures_soup = BeautifulSoup(fixtures_response.content, 'html.parser')
        
        # Find all fixture items on the page
        fixture_items = fixtures_soup.find_all('li', class_='fixture-list__item')
        
        for item in fixture_items:
            series = item.find('p', class_='fixture__additional-info').text.strip()
            place = item.find('span', class_='fixture__additional-info').text.strip()
            date_time = item.find('div', class_='fixture__datetime desktop-only').text.strip()
            
            print("Series:", series)
            print("Place:", place)
            print("Date and Time:", date_time)
            print("------------------------")
    else:
        print("International Fixtures link not found.")

except requests.exceptions.HTTPError as errh:
    print ("HTTP Error:", errh)
except requests.exceptions.ConnectionError as errc:
    print ("Error Connecting:", errc)
except requests.exceptions.Timeout as errt:
    print ("Timeout Error:", errt)
except requests.exceptions.RequestException as err:
    print ("Something went wrong:", err)
except Exception as e:
    print("An error occurred:", str(e))

International Fixtures link not found.

3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code

In [12]:
# Importing Libraries
import selenium
import pandas as pd
import time

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [13]:


driver = webdriver.Chrome()
driver.get("http://statisticstimes.com/economy/india/indian-states-gdp.php")

Rank=[]
State =[]
GDP=[]
GSDP_Current=[]
GSDP_Previous=[]
Share=[]

#scraping the Rank 
r=driver.find_elements(By.XPATH,"//td[@class='data1']")
for i in r:
    if i.text is None :
        Rank.append("--") 
    else:
        Rank.append(i.text)
St=driver.find_elements(By.XPATH,"//td[@class='name']")
for i in St:
    if i.text is None :
        State.append("--") 
    else:
        State.append(i.text)
gdp=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[6]")
for i in gdp:
    if i.text is None :
        GDP.append("--") 
    else:
        GDP.append(i.text)
#scraping the Share 
shr=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[5]")
for i in shr:
    if i.text is None :
        Share.append("--") 
    else:
        Share.append(i.text)
#scraping the GSDP_Current 
shr=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[4]")
for i in shr:
    if i.text is None :
        GSDP_Current.append("--") 
    else:
        GSDP_Current.append(i.text)
#scraping the GSDP_Previous 
shr=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[8]")
for i in shr:
    if i.text is None :
        GSDP_Previous.append("--") 
    else:
        GSDP_Previous.append(i.text)
        
#Creating Dataframe
State_GDP=pd.DataFrame([])
State_GDP['Rank']=Rank[:33]
State_GDP['State']=State[:33]
State_GDP['Share In GDP']=Share[:33]
State_GDP['GDP of State']=GDP[:33]
State_GDP['GSDP_Current']=GSDP_Current[:33]
State_GDP['GSDP_Previous']=GSDP_Previous[:33]
State_GDP

,Rank,State,Share In GDP,GDP of State,GSDP_Current,GSDP_Previous
0,1,Maharashtra,13.94%,399.921,"2,632,792","2,039,074"
1,2,Tamil Nadu,8.63%,247.629,"1,630,208","1,215,307"
2,3,Uttar Pradesh,8.39%,240.726,"1,584,764","1,123,982"
3,4,Gujarat,7.96%,228.290,"1,502,899","1,186,379"
4,5,Karnataka,7.91%,226.806,"1,493,127","1,091,077"
5,6,West Bengal,5.77%,165.556,"1,089,898","739,525"
6,7,Rajasthan,4.99%,143.179,"942,586","677,428"
7,8,Andhra Pradesh,4.57%,131.083,"862,957","621,301"
8,9,Telangana,4.56%,130.791,"861,031","612,828"
9,10,Madhya Pradesh,4.29%,122.977,"809,592","522,009"
10,11,Kerala,4.14%,118.733,"781,653","559,412"
11,12,Delhi,4.10%,117.703,"774,870","590,569"
12,13,Haryana,3.89%,111.519,"734,163","531,085"
13,14,Bihar,2.81%,80.562,"530,363","375,651"
14,15,Punjab,2.79%,79.957,"526,376","397,669"
15,16,Odisha,2.58%,74.098,"487,805","376,877"
16,17,Assam,1.67%,47.982,"315,881","234,048"
17,18,Chhattisgarh,1.61%,46.187,"304,063","231,182"
18,19,Jharkhand,1.57%,45.145,"297,204","224,986"
19,20,Uttarakhand,1.30%,37.351,"245,895","193,273"
20,21,Jammu & Kashmir,0.83%,23.690,"155,956","112,755"
21,22,Himachal Pradesh,0.81%,23.369,"153,845","117,851"
22,23,Goa,0.39%,11.115,"73,170","57,787"
23,24,Tripura,0.26%,7.571,"49,845","36,963"
24,25,Chandigarh,0.22%,6.397,"42,114","31,192"
25,26,Puducherry,0.18%,5.230,"34,433","23,013"
26,27,Meghalaya,0.18%,5.086,"33,481","24,682"
27,28,Sikkim,0.15%,4.363,"28,723","18,722"
28,29,Manipur,0.15%,4.233,"27,870","19,300"
29,30,Nagaland,0.14%,4.144,"27,283","17,647"
30,31,Arunachal Pradesh,0.13%,3.737,"24,603","16,676"
31,32,Mizoram,0.12%,3.385,"22,287","16,478"
32,33,Andaman & Nicobar Islands,-,-,-,-

4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [20]:
# Set up Selenium webdriver
driver = webdriver.Chrome()
driver.get("https://github.com/")

try:
    # Find the trending repositories section
    trending_repos = driver.find_element(By.XPATH, "//div[@class='explore-pjax-container container-lg p-responsive pt-6']")
    
    # Find all repository cards within the trending repositories section
    repo_cards = trending_repos.find_elements(By.XPATH, ".//article[@class='Box-row']")

    for card in repo_cards:
        try:
            # Find repository title
            title = card.find_element(By.XPATH, ".//h1/a").text
            
            # Find repository description
            description = card.find_element(By.XPATH, ".//p").text
            
            # Find contributors count
            contributors_count = card.find_element(By.XPATH, ".//a[contains(@href, '/contributors')]").text
            
            # Find language used (if available)
            try:
                language_used = card.find_element(By.XPATH, ".//span[@itemprop='programmingLanguage']").text
            except NoSuchElementException:
                language_used = "Not specified"
            
            print("Repository Title:", title)
            print("Repository Description:", description)
            print("Contributors Count:", contributors_count)
            print("Language Used:", language_used)
            
        except NoSuchElementException:
            continue

except NoSuchElementException:
    print("Trending repositories section not found.")

finally:
    driver.quit()

Trending repositories section not found.

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [13]:
driver = webdriver.Chrome()

driver.get("https://www.billboard.com/charts/hot-100")

Song_Name =[]
Singer=[]
rank=[]
Last_Week=[]
Weeks_on_board=[]

#scraping the Song_Name 
son=driver.find_elements(By.XPATH,"//li[@Class='lrv-u-width-100p']")
for i in son:
    if i.text is None :
        Song_Name.append("--") 
        Singer.append("--") 
        rank.append("--") 
        Last_Week.append("--") 
        Weeks_on_board.append("--") 
    else:
        Song_Name.append(i.text.split('\n')[0])
        Singer.append(i.text.split('\n')[1])
        rank.append(i.text.split('\n')[2])
        Last_Week.append(i.text.split('\n')[3])
        Weeks_on_board.append(i.text.split('\n')[4])


BillBOARD_HOT100=pd.DataFrame([])
BillBOARD_HOT100['Song_Name']=Song_Name
BillBOARD_HOT100['Peak_rank']=rank
BillBOARD_HOT100['Singer / Crew']=Singer
BillBOARD_HOT100['Last_Week_Rank']=Last_Week
BillBOARD_HOT100['Weeks_on_board']=Weeks_on_board

BillBOARD_HOT100

,Song_Name,Peak_rank,Singer / Crew,Last_Week_Rank,Weeks_on_board
0,Paint The Town Red,1,Doja Cat,1,9
1,Snooze,2,SZA,2,43
2,Cruel Summer,4,Taylor Swift,3,22
3,Fast Car,3,Luke Combs,2,28
4,3D,-,Jung Kook & Jack Harlow,5,1
...,...,...,...,...,...
95,Long Journey,75,Rod Wave,39,3
96,But I Got A Beer In My Hand,-,Luke Bryan,92,3
97,Rubicon,-,Peso Pluma,63,12
98,East Side Of Sorrow,95,Zach Bryan,18,6
99,Where She Goes,-,Bad Bunny,8,19

6. Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [17]:
driver=webdriver.Chrome() 
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")
time.sleep(6)


# creating empty lists for scraping data
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

# Scraping Book_name
book_name=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[2]")
for i in book_name:
    if i.text is None:
        Book_name.append('--')
    else:
        Book_name.append(i.text)
        
# Scraping Author_name
author_name=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[3]")
for i in author_name:
    if i.text is None:
        Author_name.append('--')
    else:
        Author_name.append(i.text)
        
# Scraping Volumes_sold
volumes_sold=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[4]")
for i in volumes_sold:
    if i.text is None:
        Volumes_sold.append('--')
    else:
        Volumes_sold.append(i.text)
        
# Scraping Author_name
publisher=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[5]")
for i in publisher:
    if i.text is None:
        Publisher.append('--')
    else:
        Publisher.append(i.text)
        
# Scraping Genre
genre=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[6]")
for i in genre:
    if i.text is None:
        Genre.append('--')
    else:
        Genre.append(i.text)

Top_selling_book=pd.DataFrame({})
Top_selling_book['Book_name']=Book_name
Top_selling_book['Author_name']=Author_name
Top_selling_book['Volumes_sold']=Volumes_sold
Top_selling_book['Publisher']=Publisher
Top_selling_book['Genre']=Genre
Top_selling_book

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [18]:
driver=webdriver.Chrome() 
driver.get("https://www.imdb.com/list/ls095964455/")


# Creating empty list
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

#Scraping Name
name=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a")
for i in name:
    Name.append(i.text)
    
#Scraping Year_span
year_span=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/span[2]")
for i in year_span:
    Year_span.append(i.text)

    
#Scraping Genre
genre=driver.find_elements(By.XPATH,"//p[@class='text-muted text-small']/span[5]")
for i in genre:
    Genre.append(i.text)
    
    
#Scraping Run_time
run_time=driver.find_elements(By.XPATH,"//p[@class='text-muted text-small']/span[3]")
for i in run_time:
    Run_time.append(i.text)
    
#Scraping Ratings
ratings=driver.find_elements(By.XPATH,"//div[@class='ipl-rating-widget']/div/span[2]")
for i in ratings:
    Ratings.append(i.text)
    
#Scraping Votes
votes=driver.find_elements(By.XPATH,"//p[@class='text-muted text-small'][3]/span[2]")
for i in votes:
    Votes.append(i.text)
    
Top_shows=pd.DataFrame({})
Top_shows['Name']=Name
Top_shows['Year_span']=Year_span
Top_shows['Genre']=Genre
Top_shows['Run_time']=Run_time
Top_shows['Ratings']=Ratings
Top_shows['Votes']=Votes
Top_shows

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,211,556"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,281,741"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,049,264"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"308,350"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"267,327"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"52,910"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"64,977"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"211,725"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"44,050"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"268,193"

8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
Note: - from the home page you have to go to the Show All Dataset page through code

In [24]:
# Importing Libraries
import selenium
import pandas as pd
import time

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [25]:
driver=webdriver.Chrome() 
driver.get("https://archive.ics.uci.edu/")
time.sleep(6)


view_datasets= driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
view_datasets.click()
time.sleep(4)

# creating empty lists for scraping data
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

In [26]:
expand_all= driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]')
expand_all.click()
time.sleep(4)

In [27]:
#scraping Dataset name
data_name= driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in data_name:
    if i.text is None :
        Dataset_name.append("--") 
    else:
        Dataset_name.append(i.text)
        print(i.text)

Iris
Heart Disease
Adult
Wine
Diabetes
Dry Bean Dataset
Breast Cancer Wisconsin (Diagnostic)
Car Evaluation
Rice (Cammeo and Osmancik)
Mushroom

In [28]:
time.sleep(4)        
#Scraping data Type
data_type=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]//div[2]//span')
for i in data_type[1:]:
    if i.text is None :
        Data_type.append("--") 
    else:
        Data_type.append(i.text)
        print(i.text)

Multivariate
Multivariate
Tabular

Multivariate
Multivariate
Multivariate
Multivariate
Multivariate

In [29]:
#Scraping Task
task=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]//div[1]//span')
for i in task[1:]:
    if i.text is None :
        Task.append("--") 
    else:
        Task.append(i.text)
        print(i.text)

Classification
Classification
Classification

Classification
Classification
Classification
Classification
Classification

In [30]:
#Scraping Attribute_type
attribute_type=driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]//tr//td[1]')
for i in attribute_type[1:]:
    if i.text is None :
        Attribute_type.append("--") 
    else:
        Attribute_type.append(i.text)
        print(i.text)

Life Science
Social Science
Physical Science
Life Science
Computer Science
Life Science
Other
Computer Science
Life Science

In [31]:
#Scraping No_of_instances
no_of_instances=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]//div[3]//span')
for i in no_of_instances[1:]:
    if i.text is None :
        No_of_instances.append("--") 
    else:
        No_of_instances.append(i.text)
        print(i.text)

303 Instances
48.84K Instances
178 Instances

13.61K Instances
569 Instances
1.73K Instances
3.81K Instances
8.12K Instances

In [32]:
#Scraping No_of_attribute
no_of_attribute=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]//div[4]//span')
for i in no_of_attribute[1:]:
    if i.text is None :
        No_of_attribute.append("--") 
    else:
        No_of_attribute.append(i.text)
        print(i.text)

13 Features
14 Features
13 Features
20 Features
16 Features
30 Features
6 Features
8 Features
22 Features

In [33]:
#Scraping Year
year=driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]//tr//td[3]')
for i in year[1:]:
    if i.text is None :
        Year.append("--") 
    else:
        Year.append(i.text)
        print(i.text)

7/1/1988
5/1/1996
7/1/1991
N/A
9/14/2020
11/1/1995
6/1/1997
10/6/2019
4/27/1987

In [34]:
# Find the maximum length among all the lists
max_length = max(len(Dataset_name), len(Data_type), len(Task), len(Attribute_type), len(No_of_instances), len(No_of_attribute), len(Year))

# Iterate through the range of the maximum length
for i in range(max_length):
    print(f"Dataset Name: {Dataset_name[i] if i < len(Dataset_name) else '--'}")
    print(f"Data Type: {Data_type[i] if i < len(Data_type) else '--'}")
    print(f"Task: {Task[i] if i < len(Task) else '--'}")
    print(f"Attribute Type: {Attribute_type[i] if i < len(Attribute_type) else '--'}")
    print(f"No of Instances: {No_of_instances[i] if i < len(No_of_instances) else '--'}")
    print(f"No of Attributes: {No_of_attribute[i] if i < len(No_of_attribute) else '--'}")
    print(f"Year: {Year[i] if i < len(Year) else '--'}")
    print("="*20)

Dataset Name: Iris
Data Type: Multivariate
Task: Classification
Attribute Type: Life Science
No of Instances: 303 Instances
No of Attributes: 13 Features
Year: 7/1/1988
====================
Dataset Name: Heart Disease
Data Type: Multivariate
Task: Classification
Attribute Type: Social Science
No of Instances: 48.84K Instances
No of Attributes: 14 Features
Year: 5/1/1996
====================
Dataset Name: Adult
Data Type: Tabular
Task: Classification
Attribute Type: Physical Science
No of Instances: 178 Instances
No of Attributes: 13 Features
Year: 7/1/1991
====================
Dataset Name: Wine
Data Type:
Task:
Attribute Type: Life Science
No of Instances:
No of Attributes: 20 Features
Year: N/A
====================
Dataset Name: Diabetes
Data Type: Multivariate
Task: Classification
Attribute Type: Computer Science
No of Instances: 13.61K Instances
No of Attributes: 16 Features
Year: 9/14/2020
====================
Dataset Name: Dry Bean Dataset
Data Type: Multivariate
Task: Classification
Attribute Type: Life Science
No of Instances: 569 Instances
No of Attributes: 30 Features
Year: 11/1/1995
====================
Dataset Name: Breast Cancer Wisconsin (Diagnostic)
Data Type: Multivariate
Task: Classification
Attribute Type: Other
No of Instances: 1.73K Instances
No of Attributes: 6 Features
Year: 6/1/1997
====================
Dataset Name: Car Evaluation
Data Type: Multivariate
Task: Classification
Attribute Type: Computer Science
No of Instances: 3.81K Instances
No of Attributes: 8 Features
Year: 10/6/2019
====================
Dataset Name: Rice (Cammeo and Osmancik)
Data Type: Multivariate
Task: Classification
Attribute Type: Life Science
No of Instances: 8.12K Instances
No of Attributes: 22 Features
Year: 4/27/1987
====================
Dataset Name: Mushroom
Data Type: --
Task: --
Attribute Type: --
No of Instances: --
No of Attributes: --
Year: --
====================